# Ignore node_modules directory
/node_modules

# Ignore build directory
/build

# Ignore env file
.env

# Ignore Mac system files
.DS_Store

# Ignore Truffle artefacts
.truffle

# Below are some other common files and directories developers often exclude:

# Ignore npm debug files
npm-debug.log

# Ignore JetBrains IntelliJ IDEA based IDE settings
.idea/

# Ignore Visual Studio Code settings
.vscode/

# Ignore compiled contract code
*.json